/* 
 * CSS for Take Your Shoes Off podcast episode guide 
 * 
 * Date: 2023-06-23
 * Author: Georg Sinn <zwitschi82 AT gmail DOT com>
 * License: MIT
*/

body {
    background-color: #000;
    color: #fff;
}
.row {
    margin: 0;
}

/* font amboy from amboy.woff */
@font-face {
    font-family: 'amboy-black';
    src: url('amboy-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* format headers in yellow */
h1, h2, h3, h4, h5, h6 {
    color: #ff0;
}

/* format all links in yellow */
a {
    color: #ff0;
}

a:hover {
    color: #fff;
}

/* all elements with amboy-black font */
a, h1, h2, h3, h4, h5, h6, 
#header a.nav-link, 
#footer,
table#episode-guide th, 
table#guests th
{
    font-family: 'amboy-black', sans-serif;
}

#header, #content, #footer {
    margin: 0 1em;
}
#header {
    color: #fff;
    padding: 0;
    margin-bottom: 1em;
}
#content {
    padding: auto;
}

#footer {
    font-size: 1rem;
    background-color: #000;
    height: 1.5rem;
}

/** header **/
#header h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 1.8rem;
}

#header h1 a {
    text-decoration: none;
    color: #0060df;
}

#header-img {
    display: inline-block;
    margin-right: 1em;
}

#header-img img {
    height: 50px;
}

#header-img, #header-img img, #header-nav h1 {
    vertical-align: bottom;
    height: 50px;
    line-height: 50px;
}

#header a.nav-link {
    font-size: 1.6rem;
    text-decoration: none;
}

#content h1 {
    font-size: 1.8rem;
}

/** formatting for index.html **/
table#episode-guide, table#guests {
    margin-top: .5em;
}
table#episode-guide th, table#guests th {
    font-size: 1.2rem;
}
tr.ep-row, tr.guest-row {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
}
.ep-thumb, .ep-row img {
    width: 200px;
}
.ep-row .ep-guest a {
    font-family: Arial, Helvetica, sans-serif;
}

td.ep-title {
    font-weight: bold;
}
td.ep-guest {
    font-weight: normal;
    flex-wrap: wrap;
}
td.ep-date {
    text-align: right;
    font-weight: normal;
}
.ep-link {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-decoration: none;
    font-weight: normal;
}

#guest .ep-img {
    display: inline-block;
    height: 144px;
}

/** formatting for episode.html **/
.episode .ep-details {
    margin-top: 1em;
    font-family: 'amboy-black', sans-serif;
}

.episode .ep-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

h2.ep-title {
    font-weight: bold;
    width: 100%;
    z-index: 1;
}

.episode .ep-title {
    text-decoration: underline;
}

.episode .ep-title:hover {
    color: #fff;
}

.episode a.ep-link:hover {
    color: #fff;
}

.episode .ep-number {
    font-family: 'amboy-black', sans-serif;
}

.ep-description {
    margin-top: 1em;
}

.ep-description a {
    font-family: Arial, Helvetica, sans-serif;
}

/** formatting for guests.html **/
.guest-list .guest-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.guest-name .guest-link {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.guest-list .ep-link {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.2rem;
}

/** formatting for guest.html **/
#guest-episodes table {
    font-size: 1.2rem;
}
#guest-episodes table th {
    font-family: 'amboy-black', sans-serif;
}

#about-page p {
    font-size: 1.0rem;
}
#about-page a {
    font-family: Arial, Helvetica, sans-serif;
}

/** Overrides for table columns **/
.table-striped > tbody > tr:nth-of-type(2n+1) > .ep-thumb {
    --bs-table-accent-bg: #000;
    color: #000;
}
.table-dark {
	--bs-table-border-color: #000;
}
.table-hover > tbody > tr:hover > .ep-thumb {
	--bs-table-accent-bg: #000;
	color: #000;
}
.ep-thumb {
    background-color: #000;
}
.table > :not(caption) > * > .ep-thumb {
	background-color: #000;
}


@media screen and (max-width: 400px) {
    #header, #content, #footer {
        margin: 0;
    }
    #header-img {
        display: none;
    }
    #header .col-9, #header h1 {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    th.ep-head-date, th.ep-head-duration,
    td.ep-date, td.ep-duration {
        display: none;
    }
    #header-nav {
        width: 100%;
        display: block;
        padding: 0;
    }
    #header-nav.col-3 ul.nav.justify-content-start li.nav-item a.nav-link {
        margin-right: 1em;
        padding: 0;
    }
    .ep-row img {
        max-height: 2.5em;
    }

    .ep-img {
        float: none;
        margin-left: 0;
    }

    .ep-link {
        font-size: 1em;
        line-height: 1em;
    }

    h2.ep-title {
        font-size: 1.6rem;
    }

    .episode .ep-img {
        display: block;
        margin-right: 0;
        position: relative;
        top: 0;
        z-index: -9;
    }
    
}
