<!DOCTYPE html>
<html lang="en">
{% include '_head.html' %}
<body>
<div id="header" class="container">
{% include '_nav.html' %}
</div>
<div id="content" class="container">
    <div class="row justify-content-center">
{% block content %}{% endblock %}
    </div>
</div>
<div id="footer" class="container">
{% block footer %}
&copy; 2023 TYSO Episode Guide by <a href="https://zwitschi.net/" target="_blank">Zwitschi</a> for <a href="https://www.rickglassman.com/" target="_blank">Take Your Shoes Off with Rick Glassman</a>
{% endblock %}
</div>
</body>
</html>
