        <div class="row justify-content-start">
            <div class="col-9">
                <div id="header-img">
                    <a href="/">
                        <img src="{{ icon }}" alt="Take Your Shoes Off with Rick Glassman">
                    </a>
                </div>
                <h1><a href="/">Episode Guide - Take Your Shoes Off</a></h1>
            </div>
            <div id="header-nav" class="col-3">
                <ul class="nav justify-content-start">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Episodes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/guests">Guests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
