{% extends "_base.html" %}
{% block title %}{{ episode.title }}{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="description" content="{{ episode.title }} - Take Your Shoes Off with Rick Glassman - {{ episode.description }}">
    <meta property="og:title" content="{{ episode.title }} - Take Your Shoes Off with Rick Glassman" />
    <meta property="og:description" content="{{ episode.description }}" />
    <meta name="twitter:description" content="{{ episode.description }}" />
    <meta name="twitter:title" content="{{ episode.title }} - Take Your Shoes Off with Rick Glassman" />
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12">
        <div id="episode-{{ episode.number }}" class="episode">
            <p class="ep-details">
                <span class="ep-number">Episode {{ episode.number }}</span> &middot; 
                <span class="ep-date">Published {{ episode.formatted_date }}</span><br />
                <span class="ep-guest">Guest: {% for g in episode.guest %} {% if loop.index > 1 %} &dash; {% endif %} <a href="/guest/{{ g }}">{{ g }}</a> {% endfor %}</span>
            </p>
            <a class="ep-link" href="{{ episode.url }}" target="_blank">
                <h2 class="ep-title">{{ episode.title }}</h2>
                <span>Watch on YouTube</span></a><br />
            <iframe width="600" height="440" src="https://www.youtube-nocookie.com/embed/{{ episode.id }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p class="ep-description">{{ episode.formatted_description | safe }}</p>
        </div>            
    </div>
</div>
{% endblock %}
