{% extends "_base.html" %}
{% block title %}Guests{% endblock %}
{% block head %}
    {{ super() }}
    <meta name="description" content="Guests of Take Your Shoes Off with Rick Glassman">
    <meta property="og:title" content="Guests of Take Your Shoes Off with Rick Glassman" />
    <meta property="og:description" content="Guests of Take Your Shoes Off with Rick Glassman" />
    <meta name="twitter:description" content="Guests of Take Your Shoes Off with Rick Glassman" />
    <meta name="twitter:title" content="Guests - Take Your Shoes Off with Rick Glassman" />
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12">
        <h1>All Guests</h1>
        <table id="guests" class="table table-dark table-striped table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Guest</th>
                    <th>Episode(s)</th>
                </tr>
            </thead>
            {% for guest in guests %}
            <tr class="guest-list">
                <td class="guest-name"><a id="guest-{{ guest.id }}" class="guest-link" href="/guest/{{ guest.name }}">{{ guest.name }}</a></td>
                <td class="guest-episodes">
                {% for e in guest.episodes %}
                {% if loop.index > 1 %} &dash; {% endif %}<a id="episode-{{ e.id }}" class="ep-link" href="/episode/{{ e.id }}">#{{ e.number }}</a>
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}