{% extends "_base.html" %}
{% block title %}{{ guest.name }}{% endblock %}
{% block head %}{{ super() }}
<meta name="description" content="{{ guest.name }} on Take Your Shoes Off with Rick Glassman">
<meta property="og:title" content="{{ guest.name }} on Take Your Shoes Off with Rick Glassman" />
<meta property="og:description" content="{{ guest.name }} on Take Your Shoes Off with Rick Glassman" />
<meta name="twitter:description" content="{{ guest.name }} on Take Your Shoes Off with Rick Glassman" />
<meta name="twitter:title" content="{{ guest.name }} on Take Your Shoes Off with Rick Glassman" />
<script src="{{ url_for('static', filename='js/preloader.js') }}"></script>
{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-12">
        <div id="guest">
            <h1 id="guest-name">{{ guest.name }}</h1>
            <p>All appearances of {{ guest.name }} on Take Your Shoes Off</p>
            <div id="guest-episodes">
                <table class="table table-dark table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th class="ep-thumb"></th>
                            <th><a href="/guest/{{ guest.name }}?sort={% if order == 'ASC' %}DESC{% else %}ASC{% endif %}">Episode</a></th>
                            <th><a href="/guest/{{ guest.name }}?sort={% if order == 'ASC' %}DESC{% else %}ASC{% endif %}">Date</a></th>
                            <th>Title</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in guest.episodes %}
                        <tr class="ep-row">
                            <td class="ep-thumb"><a id="episode-{{ e.id }}" class="ep-link" href="{{ e.url }}" target="_blank"><img class="ep-img" src="/thumbs/{{ e.id }}.jpg" title="{{ e.title }}" alt="{{ e.title }}" /></a>
                            <td><a id="episode-{{ e.id }}" class="ep-link" href="/episode/{{ e.id }}">#{{ e.number }}</a></td>
                            <td><a id="episode-{{ e.id }}" class="ep-link" href="/episode/{{ e.id }}">{{ e.formatted_date }}</a></td>
                            <td><a id="episode-{{ e.id }}" class="ep-link" href="/episode/{{ e.id }}">{{ e.title }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}